[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {index = "https://pypi.doubanio.com/simple/",version = "==2.2.24"}
django-haystack = {index = "https://pypi.doubanio.com/simple/",version = "==2.6.1"}
gunicorn = {index = "https://pypi.doubanio.com/simple/",version = "*"}

[requires]
python_version = "3.6"
